.navbar {
  height: 80px; }

.navbar {
  background: none; }

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../images/nails.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .masthead .icons {
    position: absolute;
    top: 40%;
    right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .masthead .icons i {
      color: #b4b4b49f;
      font-size: 25px; }

.fullpage {
  height: 100vh;
  min-height: 500px; }
  .fullpage .wrapper {
    width: 100%;
    height: 100%;
    background: rgba(38, 37, 36, 0.85); }

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.navbar-brand {
  width: 135px;
  height: 100%; }
  .navbar-brand img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.heading {
  font-family: 'Raleway', sans-serif;
  color: #555555; }
  .heading .caption {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .heading .caption-large {
    font-weight: 100;
    font-size: 70px; }
  .heading .caption-end {
    font-weight: 500;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .heading .caption-end i {
      margin: 5px;
      font-size: 12px; }
  .heading .info {
    font-weight: 600;
    font-size: 16px; }
  .heading .line {
    width: 100px;
    border-bottom: 1px solid #ffff;
    color: white; }
  .heading .btn {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    width: 180px;
    height: 54px;
    background: #F9C766; }
  .heading hr {
    background-color: white;
    height: 1px; }

.footer-masthead {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 55px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 67, 65, 0.2)), color-stop(99.99%, rgba(99, 96, 95, 0.128125)), to(rgba(153, 149, 149, 0)));
  background: linear-gradient(180deg, rgba(68, 67, 65, 0.2) 0%, rgba(99, 96, 95, 0.128125) 99.99%, rgba(153, 149, 149, 0) 100%);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #555555; }

.about {
  background: url("../images/saloon.jpg");
  color: white; }
  .about h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px; }
  .about p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px; }

.reviews {
  background: url("../images/women.jpg");
  background-position: center;
  background-size: cover;
  color: white; }
  .reviews h3 {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
    font-size: 30px; }
  .reviews .review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .reviews .review-data {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    color: #888888; }
  .reviews .review-rating {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .reviews .review-rating i {
      color: #F9C766; }
  .reviews .review-text {
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 16px;
    text-align: center;
    color: #B9B9B9;
    position: relative; }
    .reviews .review-text .quote {
      position: absolute;
      top: -50px;
      font-family: 'Times New Roman';
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      color: #F9C766; }
    .reviews .review-text .quote-one {
      left: -30px; }
    .reviews .review-text .quote-two {
      right: -30px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .reviews .dots {
    margin-top: 50px;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .reviews .dots div {
      width: 10px;
      height: 10px;
      color: white;
      background-color: #fff;
      border-radius: 100%; }
      .reviews .dots div.active {
        background-color: #F9C766; }

.footer {
  height: 415px;
  background-color: #242424;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px; }
  .footer .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    margin-top: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .icons i {
      color: #5e5e5e;
      font-size: 30px; }
